<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{user.name}}">
  <ion-content class="padding">
    <img ng-src="{{onUser.avatar}}" style="width: 64px; height: 64px">
    <p>{{onUser.name}} {{User.motto}}        
    </p>
    <h2 class="ion-thumbsup " ng-click="add5(chat.id)">{{ chat.like }}</h2>
  </ion-content>
</ion-view>
