<!-- <ion-view view-title="Chats">
  <ion-content>
    <ion-item>
      <input type="text" ng-model="query"/>
    </ion-item>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats | filter:query | orderBy:'-name'" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
        <img ng-src="{{chat.face}}">
        <h2>{{chat.name}}</h2>
        <p>{{chat.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view> -->

<ion-view view-title="Chats">
<ion-content>
<!--   <div class="list">
    <label class="item item-input">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="text" ng-model="q" placeholder="rechercher un ami">
    </label>
  </div>
  <div class="list list-inset">
    <h3>I have {{ chats.length }} friends</h3>
    <ul >
      <li ng-repeat="chat in chats | filter:q">
        {{ chat.name }}
      </li>
      <li class="animate-repeat" ng-if="results.length === 0">
        <strong>No results found...</strong>
      </li>
    </ion-list>
  </div> -->

  <div class="list">
    <label class="item item-input">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="text" ng-model="q" placeholder="rechercher un ami">
    </label>
  </div>
  <div class="list list-inset">
    <h3>Vous avez {{ viewUsers.length }} friends</h3>
    <p class="animate-repeat" ng-if="viewUsers.length <= 0">
      <strong>No results found...</strong>
    </p>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="user in viewUsers | filter:q | orderBy:'-name'" type="item-text-wrap" href="#/tab/chats/{{user.idUser}}">
        <img ng-src="{{user.avatar}}">
        <h2>{{user.name}}</h2>
        <p>{{user.lastname}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
        <ion-option-button class="button-assertive" ng-click="remove(user)">
          Delete
        </ion-option-button>

      </ion-item>

  </div>
</ion-content>



</ion-view>